html {
  color: black;
}

.editor {
  background: transparent;
  color: black;
  resize: none;
  border: 0 none;
  font-size: 0.9em;
  outline: none;
  height: 280px;
  width: 700px;
  padding: 10px;
  text-align: justify;
}

.title {
  background: transparent;
  color: black;
  resize: none;
  border: 0 none;
  font-size: 1.2em;
  font-weight: bold;
  outline: none;
  height: 30px;
  width: 700px;
  padding: 10px;
  text-align: justify;
}
